.navbg {
	background-color: #FFB300 !important;
}

.white-text {
	color: white !important;
}

.logo {
	font-size: 26px;
}

.search{
	margin-right: 300px;
	margin-left: 50px;
	margin-top: 13px;
}

    body {
      background-color: #FFF;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }

.big {
	font-size: 50px;
}

.main-body{
	margin-top: 150px;
}

.row{
  /* margin-top: 10%; */
  margin-bottom: 10%
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 5% 4px;
}

.pagination a.active {
	background-color: #FFB300 !important;
  color: white;
  border: 1px solid #FFB300;
}

.pagination a:hover:not(.active) {background-color: #ddd;}